<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pertech.healthwalk.base.dao.TeamDao">

    <resultMap type="cn.pertech.healthwalk.base.entity.Team" id="TeamResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="pid" column="pid" jdbcType="INTEGER"/>
        <result property="teamNo" column="team_no" jdbcType="VARCHAR"/>
        <result property="teamName" column="team_name" jdbcType="VARCHAR"/>
        <result property="teamType" column="team_type" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table_field">
      id, pid, team_no, team_name, team_type, update_time, create_time      
    </sql>
       
    <!--通过Id查询单个-->
    <select id="getById" resultMap="TeamResultMap" parameterType="java.lang.Long">
        select
          <include refid="table_field" />
        from team
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="listByEntity" resultMap="TeamResultMap" parameterType="cn.pertech.healthwalk.base.entity.Team">
        select
          <include refid="table_field" />
        from team
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="pid != null">
                and pid = #{pid,jdbcType=INTEGER}
            </if>
            <if test="teamNo != null">
                and team_no = #{teamNo,jdbcType=VARCHAR}
            </if>
            <if test="teamName != null">
                and team_name = #{teamName,jdbcType=VARCHAR}
            </if>
            <if test="teamType != null">
                and team_type = #{teamType,jdbcType=INTEGER}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="getByEntity" resultMap="TeamResultMap" parameterType="cn.pertech.healthwalk.base.entity.Team">
        select
          <include refid="table_field" />
        from team
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="pid != null">
                and pid = #{pid,jdbcType=INTEGER}
            </if>
            <if test="teamNo != null">
                and team_no = #{teamNo,jdbcType=VARCHAR}
            </if>
            <if test="teamName != null">
                and team_name = #{teamName,jdbcType=VARCHAR}
            </if>
            <if test="teamType != null">
                and team_type = #{teamType,jdbcType=INTEGER}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="listByIds" resultMap="TeamResultMap" parameterType="list">
        select
          <include refid="table_field" />
        from team
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="cn.pertech.healthwalk.base.entity.Team">
        insert into team
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
             id,
          </if>
          <if test="pid != null">
             pid,
          </if>
          <if test="teamNo != null">
             team_no,
          </if>
          <if test="teamName != null">
             team_name,
          </if>
          <if test="teamType != null">
             team_type,
          </if>
          <if test="updateTime != null">
             update_time,
          </if>
          <if test="createTime != null">
             create_time,
          </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
             #{id,jdbcType=INTEGER},
          </if>
          <if test="pid != null">
             #{pid,jdbcType=INTEGER},
          </if>
          <if test="teamNo != null">
             #{teamNo,jdbcType=VARCHAR},
          </if>
          <if test="teamName != null">
             #{teamName,jdbcType=VARCHAR},
          </if>
          <if test="teamType != null">
             #{teamType,jdbcType=INTEGER},
          </if>
          <if test="updateTime != null">
             #{updateTime,jdbcType=TIMESTAMP},
          </if>
          <if test="createTime != null">
             #{createTime,jdbcType=TIMESTAMP},
          </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into team
         (id, pid, team_no, team_name, team_type, update_time, create_time)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
         (#{item.id,jdbcType=INTEGER}, #{item.pid,jdbcType=INTEGER}, #{item.teamNo,jdbcType=VARCHAR}, #{item.teamName,jdbcType=VARCHAR}, #{item.teamType,jdbcType=INTEGER}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="cn.pertech.healthwalk.base.entity.Team">
        update team
        <set>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="teamNo != null and teamNo != ''">
                team_no = #{teamNo,jdbcType=VARCHAR},
            </if>
            <if test="teamName != null and teamName != ''">
                team_name = #{teamName,jdbcType=VARCHAR},
            </if>
            <if test="teamType != null">
                team_type = #{teamType,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update team
        <set>
            <if test="where.pid == null and set.pid != null">
                pid = #{set.pid,jdbcType=INTEGER},
            </if>
            <if test="where.teamNo == null and set.teamNo != null and set.teamNo != ''">
                team_no = #{set.teamNo,jdbcType=VARCHAR},
            </if>
            <if test="where.teamName == null and set.teamName != null and set.teamName != ''">
                team_name = #{set.teamName,jdbcType=VARCHAR},
            </if>
            <if test="where.teamType == null and set.teamType != null">
                team_type = #{set.teamType,jdbcType=INTEGER},
            </if>
            <if test="where.updateTime == null and set.updateTime != null">
                update_time = #{set.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.createTime == null and set.createTime != null">
                create_time = #{set.createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="where.id != null">
                and id = #{where.id,jdbcType=INTEGER}
            </if>
            <if test="where.pid != null">
                and pid = #{where.pid,jdbcType=INTEGER}
            </if>
            <if test="where.teamNo != null">
                and team_no = #{where.teamNo,jdbcType=VARCHAR}
            </if>
            <if test="where.teamName != null">
                and team_name = #{where.teamName,jdbcType=VARCHAR}
            </if>
            <if test="where.teamType != null">
                and team_type = #{where.teamType,jdbcType=INTEGER}
            </if>
            <if test="where.updateTime != null">
                and update_time = #{where.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.createTime != null">
                and create_time = #{where.createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update team
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="pid = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.pid}
                 </foreach>
            </trim>
            <trim prefix="team_no = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.teamNo}
                 </foreach>
            </trim>
            <trim prefix="team_name = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.teamName}
                 </foreach>
            </trim>
            <trim prefix="team_type = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.teamType}
                 </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.updateTime}
                 </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.createTime}
                 </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from team where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="cn.pertech.healthwalk.base.entity.Team">
        delete from team
        <where>
            <if test="pid != null">
                and pid = #{pid,jdbcType=INTEGER}
            </if>
            <if test="teamNo != null">
                and team_no = #{teamNo,jdbcType=VARCHAR}
            </if>
            <if test="teamName != null">
                and team_name = #{teamName,jdbcType=VARCHAR}
            </if>
            <if test="teamType != null">
                and team_type = #{teamType,jdbcType=INTEGER}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </delete>
    
    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from team where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>
    
    <select id="countAll" resultType="int">
        select count(id) from team
    </select>
    
    <select id="countByEntity" parameterType="cn.pertech.healthwalk.base.entity.Team" resultType="int">
        select count(id) from team
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="pid != null">
                and pid = #{pid,jdbcType=INTEGER}
            </if>
            <if test="teamNo != null">
                and team_no = #{teamNo,jdbcType=VARCHAR}
            </if>
            <if test="teamName != null">
                and team_name = #{teamName,jdbcType=VARCHAR}
            </if>
            <if test="teamType != null">
                and team_type = #{teamType,jdbcType=INTEGER}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>